<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699798003228-agb28vn312um3o0552j5hbs5hqplrpsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699798003228-agb28vn312um3o0552j5hbs5hqplrpsg</string>
	<key>API_KEY</key>
	<string>AIzaSyD0yjoUcvCTfwtffs37Z-ZXhAhfNltDBTs</string>
	<key>GCM_SENDER_ID</key>
	<string>699798003228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.second.bestill.v2</string>
	<key>PROJECT_ID</key>
	<string>be-still-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>be-still-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699798003228:ios:eee1a84729b9d7f50cc9d9</string>
</dict>
</plist>